<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ISolution"
        tools:targetApi="31">
        <activity
            android:name=".Activities.DisposeLeadSecondActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DisposeLeadActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LeadCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EmployTeamDetails"
            android:exported="false" />
        <activity
            android:name=".Activities.CallingTeamDetails"
            android:exported="false" />
        <activity
            android:name=".Activities.CallingDetailMain"
            android:exported="false" />
        <activity
            android:name=".Activities.CalenderActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ContectLeadForm"
            android:exported="false" />
        <activity
            android:name=".Activities.ContactLeadActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DrawerActivities.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DrawerActivities.LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DrawerActivities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DrawerActivities.PromotionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DrawerActivities.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DrawerActivities.FavouriteActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DrawerActivities.NearbyMeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DrawerActivities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CallingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AllCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DrawerActivities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainLeadActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>